# Binaries
main
main.exe
backend/main
backend/main.exe

# # Environment files
# .env
# backend/.env

# Local Database Data (Very important to ignore!)
data/
db-data/

# OS files
.DS_Store
Thumbs.db

# Go dependencies
vendor/
